@import "../../fonts/font-imports.css";

#vars {
	.dark {
		$background-color: hsl(210, 50%, 10%);
		$text-color: hsl(210, 30%, 80%);
		$heading-color: hsl(210, 75%, 75%);
		$action-color: hsl(20, 100%, 77%);
		$action-color-hover: hsl(18, 100%, 72%);
		$action-color-active: hsl(20, 100%, 62%);
		$action-color-visited: hsl(20, 100%, 62%);
		$action-color-focus: hsl(20, 100%, 62%);
	}
}

$body-font-family:		"Red Hat Text", sans-serif;
$heading-font-family:	"Red Hat Display", sans-serif;
$code-font-family:		"Fira Code", monospace;



//+ Notes
$note-background: 		hsla(190, 75%, 50%, 0.2);
$note-padding: 			5px 15px 5px 15px;
$note-border-radius: 	10px;
$note-border: 			3px hsla(0deg, 0%, 100%, 0.2) solid;
$note-shadow: 			3px 3px 15px hsla(0, 0%, 0%, 0.8);