@use './sass/themes' as themes;
@use './sass/variables.scss' as *;


body {
    background-color: theme-get('bg-color');
    color: theme-get('text-color');
    font-family: $body-font-family;
    font-size: inherit;
    line-height: 1.5;
    border-radius: $base-border-radius;
    border: $base-border-width $base-border-color solid;
    box-shadow: $main-cont-shadow;
    padding: 1rem;
    margin: 1rem;
}


@for $i from 1 through 6 {
    $heading-font-size: $heading-base-size + $heading-scale * (6 - $i);
    h#{$i} {
        font-size: $heading-font-size;
    }
}


.main-container {
    background-color: theme-get('bg-color');
    color: theme-get('text-color');
    font-family: $body-font-family;
    font-size: inherit;
    line-height: 1.5;
    border-radius: $base-border-radius;
    border: $base-border-width $base-border-color solid;
    box-shadow: $main-cont-shadow;
    padding: 1rem;
    margin: 1rem;
}